*{
    font-family: 'poppnis',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}
.logo{
    text-decoration: none;
    color: #3a6fc3;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}
.navbar a{
    color: #3a6fc3;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}
.navbar a:hover{
    color: blueviolet;
    /* transform: color .5s; */
}
section{
    padding: 100px 200px;
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(../images/clint-patterson-dYEuFB8KQJk-unsplash.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}
.main h2{
    color:white;
    font-size: 1.4em;
    font-weight: 500;
    letter-spacing: 1px;
}
.main span{
    display: inline-block;
    margin-top: 10px;
    color:#4e9eff;
    font-size: 1.8em;
    font-weight: 600;
}
.main h3{
    color: #fff;
    font-size: 1.5em;
    font-weight: 900;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.main-btn{
    color: #fff;
    background-color: #3a6fc3;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: .9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 30px;
    transition: .7s ease; /* عشان التحول يبقي ابطى*/
}
.main-btn:hover{
    background-color: #0a49f6;
    transform: scale(1.1);
}
.social-icons a{
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px;
}
.title{
    color: #0a49f6;
    text-align: center;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: row; /* عشن الايقونات تبقي في صف واحد*/
    flex-wrap: wrap;

}
.card{
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1,1,1,15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: .7s ease; 
}
.card:hover{
    transform: scale(1.1); /* عشان لما اشاور علي العنصر حجمه يكبر*/
}
.icon{
    color: #3a6fc3;
    font-size: 8em;
    text-align: center;
}
.info{
    color: #0a49f6;
    text-align: center;
    font-size: 1.3em;
}
.info p{
    color: black;
    padding-top:10px ;
    font-weight: 500;
}
.projects{
    background-color: black;
    height: 100vh;
}
.projects .fix{
    text-align: center;
    color:#3a6fc3;
    padding-top: 4em ;
    /* padding-top:50% ;
    padding-left: 50%;
    margin-left: 50px;
    transform: translate(-50%,-50%); */
    font-size: 4em;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.contact .icon{
    font-size: 4.5em;
}
.contact h3{
    color: black;
}
.contact p{
    /* font-size: 1.5em; */
    letter-spacing: 1px;
    font-weight:700px ;
}
.footer{
    background-color: black;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}
.footer-name{
    font-size: 1em;
    font-weight: 600;
}
.name{
    color: #3a6fc3;
}
.footer .social-icons a{
    font-size: 1.3em;
    padding: 0 12px 0 0;
}
@media(max-width:1023px)
{
    header{
        padding: 12px 20px;
    }
    .navbar a{
        padding-left: 10px;
    }
    .title{
        font-size: 2em;
    }
    .section{
        padding: 80px 20px;
    }
    .main h2{
        font-size: 0.6em ;
    }
    .main h3{
        font-size: .8em;
    }
    .content {
        flex-direction: column;
        align-items: center;
    }
    .projects p{
        font-size: .8em;
        padding-top: 2em ;
    }
}
@media(max-width:641px){
    body{
        font-size: 12px;
    }
}    
@media(max-width:300px){
    font-size: 10px;
}